body {
    font-family: "Microsoft JhengHei", "WenQuanYi Micro Hei", "Microsoft YaHei", "LiHei Pro";
}
#header {
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 250px;
    background: url('../images/background.jpg') no-repeat fixed center center / cover;
}
.nav-pills>li>a {
    border-radius: 0;
    transition: all 0.3s;
}
.nav-pills a {
    color: #FFF;
}
/* .nav-pills {
    background: #222;
} */
.navbar-inverse > li > a:hover, .navbar-inverse > li > a:focus {
    background: #444;
}
.nav > li > a {
    padding: 20px 15px;
}
.welcome {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(40% - 8em);
    padding: 3em;
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    text-align: center;
    height: 17em;
}
#header .bgcopy {
    position: absolute;
    right: 2em;
    bottom: 1em;
    color: #666;
}
#header .bgcopy a {
    color: #666;
}
#header .scrolldown p{
    position: absolute;
    width: 100%;
    bottom: 1.5em;
    color: rgba(255, 255, 255, .6);
    font-size: 1.7em;
    text-align: center;
    transition: all 0.3s ease 0.2s;
}
#header .scrolldown p:hover {
    color: #FFF;
    font-size: 1.75em;
}
.inner {
    line-height: 2em;
}
#nav {
    background: rgba(240, 240, 240, 1);
}
/*border 修正整體寬度，將底部設為 1*/
#wrapper .row {
    min-height: 16em;
    text-align: center;
    margin: 0px;
    padding: 6em 0;
}
#scrolldown:hover{
    cursor: pointer;
}
.normalMouse {
    cursor: default;
}
/*border 雙線性渲染*/
.linerborder{
    border-width: 0px;
    border-bottom: solid 1px;
    border-image: 
        linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15%,rgba(0,0,0,0.99) 50%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,0) 100%) 1 round; /* W3C */
}
#map-canvas {
    height: 24em;
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
}
.layoutTable {
    margin: 0 auto;
    margin-top: 5em;
    width: 80%;
    table-layout: fixed;
}
.layoutTable > tbody > tr > td {
    padding: 1em 1.5em;
    font-size: 1.15em;
}
tr:nth-child(odd) {
    background-color:#f5f5f5;
}
tr:nth-child(1) {
    color: white;
    background-color: #444;
}
footer {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}